{% extends "layouts/base.html" %}


{% block title %}Categoria{% endblock %}

{% block content %}
    <div class="categoria">
        <div id="caja-lista">
            <h3>Lista de categorias</h3>
            <div id="lista">
                {% if categorias %}
                <ul>
                    {% for cat in categorias %}
                        <li>
                            <a href="{% url "categoria-edit" cat.id %}">{{ cat.nombre }}</a>
                            <a href="{% url "categoria-delete" cat.id %}">&#x2718;</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
                {% else %}
                <p>No hay categorias disponibles</p>
                {% endif %}   
        </div>
        
        <div class="formulario">
            <div class="cabecera">
                {% if form.instance.pk %}<a href="{% url "categoria" %}"> <span>&#x2190;</span> Crear</a> {% endif %}
                <h3>{% if form.instance.pk %}Editar categoria{% else %}Crear categoria{% endif %}</h3>
            </div>
            
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% if form.instance.pk %}Guardar edicion{% else %}Guardar{% endif %}">
            </form>
        </div>
        
    </div>
    
{% endblock %}